@media screen and (max-width: 767.98px) {
	.footer {
		padding-bottom: 8px;
	}
}

@media screen and (min-width: 768px) {
	.footer {
		padding-bottom: 12px;
	}
}

.text {
	color: var(--black);
	font-size: 14px;
	text-align: center;
	padding: 0 10px;
}