.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #353535;
    z-index: 100;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition-property: opasity, visibility, transform;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobileMenu.isOpen {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);
}

.mobileMenuContainer {
    position: relative;
    height: 100%;
    padding-top: 60px;
}

@media (min-width: 1280px) {
    .mobileMenuContainer {
        padding-top: 56px;
    }
}

.mobileMenuCLoseBtn {
    position: absolute;
    top: 16px;
    right: 0;
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    color: white;
    transition-property: color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobileMenuCLoseBtn:hover,
.mobileMenuCLoseBtn:focus {
    color: #FFCC00;
}

.list {
    display: flex;
    flex-direction: column;
}

.item:not(:last-child) {
    margin-bottom: 24px;
}

@media screen (min-width: 1280px) {
    .item:not(:last-child) {
        margin-bottom: 22px;
    }
}

.link {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat Alternates',
        sans-serif;
    font-weight: 700;
    color: white;
    font-size: 16px;
    transition-property: color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: #FFCC00;
}

@media (min-width: 1280px) {
    .link {
        font-size: 18px;
    }
}